body{
    background-image: url("background.jpg");
}
form{
    width: 500px;
    text-align: center;
    background-color: lightcyan;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}
button{
    line-height: 40px;
    padding: 0 20px;
    border-style: none;
    color: rgb(0, 107, 139);
    background: white;
    font-size: 15px;
    border-radius: 10px;

}
h3, input, button, p{
    font-family: 'Andika New Basic', sans-serif;
}
*{
margin: 0;
padding: 0;
}
h3{
    margin-top: 7px;
    margin-bottom: 7px;
    text-decoration: underline;
}
img{
    width: 55%;
    border-radius: 14px;
}
input{
    line-height: 50px;
    width: 50px;
    text-align: center; 
    font-size: 25px;
    border:1px solid skyblue;
    border-radius: 15px;
    outline: none;
    margin-bottom: 10px;
}
p{
    margin-bottom: 20px;
    margin-top: 30px;
}
#okButton{
    margin-right: 10px;
}
 
#hints{
    color: #47868f;
    font-size: 25px;
}
h4{
    font-family: 'Andika New Basic', sans-serif; 
    margin-bottom: 10px;
}

#settings, #wordchoice{
    background-color: rgb(255, 255, 255);
    width: 90%;
    max-width: 500px;
    display: inline-block;
    font-size: 0;
    border-radius: 6px;
    padding: 15px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

}

.wordmodal input{
    width: 100%;
    margin-top: 15px;
}

.modal, .wordmodal{
    position: fixed;
    height: 200%;
    width: 200%;
    background-color: rgba(233, 245, 255, 0.712);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: .6s;

}

h1{
    font-family: 'Andika New Basic', sans-serif;
    font-size: 15px;
    color: #4eb3c3;
}

#settbutton{
  margin-top: 8px;
}